<figure class="deal-card">
  <a href="{{repo.html_url}}" target="_blank">
    <div>
      <img src="https://img.grouponcdn.com/deal/4uVjBhsJPen1vgKt6T4V/76-940x570/v1/c700x420.jpg" alt="{{repo.name}}">
    </div>
    <figcaption>
      <p class="deal-title">{{repo.name}}</p>
      <p class="merchant-name">
        {{repo.description}}
      </p>
      <div class="pricing">
        {{partial "partials/home-repo-stats"}}
      </div>
    </figcaption>
  </a>
</figure>
