<figure class="deal-card">
  <a href="{{repo.html_url}}" target="_blank">
    <div>
      {{repo-graphic repo=repo}}
    </div>
    <figcaption>
      <p class="deal-title">{{repo.name}}</p>
      <p class="merchant-name">
        {{repo.description}}
      </p>
      <div class="pricing">
        {{partial "partials/home-repo-stats"}}
      </div>
    </figcaption>
  </a>
</figure>
