<div class="row top-row">
  <div class="three columns">
    <div id="left-nav-categories">
      <ul>
        {{#each model as |category|}}
          <li>
            <a href="#{{category.name}}">
              {{category.name}}
              {{#if repos}}
                <span class="counter">({{category.repos.length}})</span>
              {{/if}}
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="six columns">
    <h2 class="flush-top">Latest Projects</h2>
  </div>

  <section id="megamindHeroDeal2Column_PseudoFreshWidget" class="six columns mm-widget mini-cards" data-bh-viewport="respect">
    <figure class="deal-card hero-deal two-column-hero-deal">
      <a href="{{reposSortedByCreatedAt.0.html_url}}" target="_blank">
        <img src="https://img.grouponcdn.com/deal/4uVjBhsJPen1vgKt6T4V/76-940x570/v1/c700x420.jpg" alt="#">
      </a>
      <figcaption>
        <a href="{{reposSortedByCreatedAt.0.html_url}}" target="_blank">
          <div class="deal-info">
            <h2><p class="deal-title should-truncate">{{reposSortedByCreatedAt.0.name}}</p></h2>
            <p class="deal-price">From &#x2605;{{reposSortedByCreatedAt.0.stargazers_count}}</p>
            <div class="view-deal">
              <div class="btn-buy">View Project</div>
            </div>
          </div>
        </a>
      </figcaption>
    </figure>
  </section>

  <section id="megamindVertical2DealWidget_PseudoFreshWidget"
           class="three columns mm-widget mini-cards">
    <figure class="deal-card">
      <a href="{{reposSortedByCreatedAt.1.html_url}}" target="_blank">
        <img src="https://img.grouponcdn.com/deal/4uVjBhsJPen1vgKt6T4V/76-940x570/v1/c700x420.jpg" alt="#">
        <figcaption>
          <p class="deal-title should-truncate">
            {{reposSortedByCreatedAt.1.name}}
          </p>
          <p class="deal-price">
            From &#x2605;{{reposSortedByCreatedAt.1.stargazers_count}}
          </p>
        </figcaption>
      </a>
    </figure>
  </section>

  <section id="megamindVertical2DealWidget_PseudoFreshWidget"
           class="three columns mm-widget mini-cards">
    <figure class="deal-card">
      <a href="{{reposSortedByCreatedAt.2.html_url}}" target="_blank">
        <img src="https://img.grouponcdn.com/deal/4uVjBhsJPen1vgKt6T4V/76-940x570/v1/c700x420.jpg" alt="#">
        <figcaption>
          <p class="deal-title should-truncate">
            {{reposSortedByCreatedAt.2.name}}
          </p>
          <p class="deal-price">
            From &#x2605;{{reposSortedByCreatedAt.2.stargazers_count}}
          </p>
        </figcaption>
      </a>
    </figure>
  </section>
</div>

{{#if repos}}
  {{#each model as |category|}}
    <section class="four-pack deal-pack row pad-row" id="{{category.name}}">
      <div class="section-head">
        <h2>{{category.name}}</h2>
      </div>
      <div class="block-grid four-up">
        {{#each category.repos as |repo|}}
          <figure class="deal-card">
            <a href="{{repo.html_url}}" target="_blank">
              <div>
                <img src="https://img.grouponcdn.com/deal/4uVjBhsJPen1vgKt6T4V/76-940x570/v1/c700x420.jpg" alt="{{repo.name}}">
              </div>
              <figcaption>
                <p class="deal-title">{{repo.name}}</p>
                <p class="merchant-name">
                  {{repo.description}}
                </p>
                <div class="pricing">
                  <p class="deal-price">
                    <span class="current-price">From &#x2605;{{repo.stargazers_count}}</span>
                  </p>
                </div>
              </figcaption>
            </a>
          </figure>
        {{/each}}
      </div>
    </section>
  {{/each}}
{{/if}}

<div id="view-all-deals" class="text-center">
  <a class="button btn-secondary" href="https://github.com/groupon/">
    View All Projects
  </a>
</div>
