<div class="row top-row">
  <div class="three columns">
    <div id="left-nav-categories">
      <ul>
        {{#each model as |category|}}
          <li>
            <a href="#{{category.name}}">
              {{category.name}}
              {{#if repos}}
                <span class="counter">({{category.repos.length}})</span>
              {{/if}}
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="six columns">
    <h2 class="flush-top">Latest Projects</h2>
  </div>


  {{#each (array-slice reposSortedByCreatedAt 0 1) as |repo|}}
    {{partial "partials/home-hero-repo"}}
  {{/each}}

  <section class="three columns mm-widget mini-cards">
    {{#each (array-slice reposSortedByCreatedAt 1 3) as |repo|}}
      {{partial "partials/home-hero-repo-small"}}
    {{/each}}
  </section>
</div>

{{#if repos}}
  {{#each model as |category|}}
    {{partial "partials/home-category"}}
  {{/each}}
{{/if}}

<div id="view-all-deals" class="text-center">
  <a class="button btn-secondary" href="https://github.com/groupon/">
    View All Projects
  </a>
</div>
